body {
	background: #FCF7F8;
	font-family: "Calibri", sans-serif;
	color:#333333
}

h1, h2, ul, li, div {
	margin: 0px;
	padding: 0px;
}
#name {
	float: left;
	height:100%;
}
#panel {
    float:left;
    padding-left: 10px;
    padding-top:20px;
}

#nav {
	background: #FCF7F8;
	width: 100%;
	float: left;
	font-size: 20px;
	text-align: left;
	margin-left: 25%;
	height:120px;
}
#nav ul{
	list-style: none;
}
#nav li{
	margin-bottom: 0px;
	margin-right: 20px;
	display: inline;
}

#nav a:link{
	text-decoration: none;   /*подчерк в ссылках*/
	color:#333333;
}

#nav a:visited{
	color:#000111;
}

#nav a:hover{        /*наведение курсора на ссылку*/
	color:rgba(97, 208, 212, 1);
}

#main {
	background: #FCF7F8;
	width: 100%;
	min-width:1000px;
	height: 100%;
	float: left;
	padding: 0 5% 0 5%;
}

#left {
	float:left;
	width:45%;
}

#right {
	float:left;
	width:45%;
}

#image {
	border-radius: 50%;
	background: url(../images/me_1.jpg);
	width: 320px;
	height: 320px;
	float: right;
	margin-right:20%;
}

#circuls ul{
	list-style: none;
	width: 100%;
}

#circuls li{
	display: inline;
	margin-bottom: 0px;
	float: left;
	text-align: center;
	line-height: 130px;
	border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0 10px;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#c_1 {
    background: #73a6ad;
}
#c_1:hover {
   background: #4a787e;
 }
#c_2 {
   background: #00779b;
}
#c_2:hover {
    background: #00526b;
}
#c_3 {
    background: #DE6B48;
}
#c_3:hover{
    background: #96381c;
}

#text {
	width:450px;
	text-align: justify;
	padding-top: 20px;
}
