h1, h2, ul, li, div, p{
	margin: 0px;
	padding: 0px;
}
body {
	background: #FCF7F8;
	font-family: "Calibri", sans-serif;
	color:#333333;
	min-width: 1000px;
	margin: 0;

}
#wrapper {
	height: 100%;
	padding: 0 0 -100px 0;
	min-height: 100%;
}
#name {
	float: left;
	margin-left: 15%;
}
#name a:link{
	text-decoration: none;
	color:#333333;
	
}
#name a:hover{
	text-decoration: none;
	color:#333333;
	
}
#panel {
    float:left;
    padding-left: 30px;
    padding-top:20px;
}

#nav {
	background: #FCF7F8;
	width: 100%;
	float: left;
	font-size: 20px;
	text-align: left;
    height:120px;
	margin-top:50px;
}
#nav ul{
	list-style: none;
}
#nav li{
	margin-bottom: 0px;
	margin-right: 20px;
	display: inline;
}

#nav a:link{
	text-decoration: none;   /*подчерк в ссылках*/
	color:#333333;
}

#nav a:visited{
	color:#000111;
}

#nav a:hover{        /*наведение курсора на ссылку*/
	color:#73a6ad;
}

#main {
	background: #FCF7F8;
	width: 90%;
	
	// height: 100%;
	float: left;
	margin: 0 5% 0 5%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
#footer{
	width: 90%;
	height: 100px;
	background: #00779b;
	float: left;
	min-width: 1000px;
	padding-left: 5%;
	padding-right: 5%;

}

#icons ul{
	list-style: none;
	width: 100%;
}

#icons li{
	display: inline;
	margin-bottom: 0px;
	float: left;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
   	/*width: 50px;
    height: 50;px*/
    margin: 25px 5% 0px 10%;
}
#icons li a {
	padding-left:10px;
}
.fa {

	background: #73a6ad;
	color: #00779b;
	border-radius: 50%;
	padding: 15px;

}

#icons a:link{
	text-decoration: none; 
	color:#73a6ad;
}

#icons a:visited{
	text-decoration: none; 
	color:#73a6ad;

}

	










